body {
    background-color: rgb(241, 193, 241);
    color:blue;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: blue;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

html {
    font-family: 'Dancing Script', cursive;
}


/* Estilo base para los títulos h1 */
#h1p1,
#h1p2 {
    display: inline-block;
    position: relative;
    /* Necesario para la animación */
    left: 0;
    /* Posición inicial */
    transition: all 0.3s ease;
    /* Transición suave */
}

/* Efecto hover para mover a la derecha */
#h1p1:hover,
#h1p2:hover {
    left: 20px;
    /* Se mueve 20px a la derecha */
    color: purple;
    /* Cambio de color opcional */
    transform: scale(1.05);
    /* Ligero aumento de tamaño */
}